    
/* BODY */
    body{
        background-color: #FFFFFF;
        margin: 0;
    }

    
/* TEXT */
    h1,h2,h3,p,a,th{
        font-family: "Verdana", "Geneva", "Sans-serif";
    }
    h1,h2,h3,p{
        margin-top: 15px;
        margin-bottom: 20px;
    }
    p,a,th{
        color:#545454;
        text-allign: left;
    }
    h1{
        width: 100%;
        color:#FFFFFF;
        text-align: left;
    }
    h2,h3{
        color: #545454;
        text-align: center;
        width:90%;
        margin-left: auto;
        margin-right: auto;
    }
    p, .main a{
        text-align: justify;
    }
    .main1, .main2{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
        margin-bottom: 150px;
    }
    a {
       text-decoration: none;
    }
    

/* HEADER */
    .header{
        background-color: #15B4B0;
        position: fixed;
        top: 0;
        height: 45px;
        width: 100%;
        box-shadow: 0px 0px 10px 0px grey;
        z-index: 1;
    } 
    .header h1{
        text-align: left;
        margin-left: 30px;
    } 
    .header i{
        position: absolute;
        right: 30px;
        transform: translate(0%, -250%);
    } 

    
/* BUTTONS */
    .button{
        background-color: #15B4B0;
        width: 100%;
        height: 40px;
        border-radius: 15px;
        display: inline-block;
    }
    .button:hover{
        box-shadow: 0px 0px 5px 0px grey;
    }
    .button p{
        color: #FFFFFF;
        text-align: center;
        transform: translate(0%, -20%);
    }

    
/* TASKBAR */
    li{
        display: inline-block;
    }
    .taskbar{
        background-color: #E3F1F1;
        bottom: 10px;
        height: 30px;
        width: 100%;
        box-shadow: 0px 0px 10px 0px grey;
        position: fixed;
    }
    .taskbar ul{
        left: 50%;
        position: absolute;
        transform: translate(-50%, -10%);
    } 
    .taskbar a {
        display: block;
        color: #545454;
        text-align: center;
        padding-left: 12px;
        padding-right: 12px;
        white-space: pre;
    }  
    
    
/* FOOTER */
    .footer{
        background-color: #15B4B0;
        width: 100%;
        height: 40px;
        bottom: 0;
        position: fixed;
    }



@media screen and (max-width: 700px){
        p, th{
            font-size: small;
            line-height: 150%;
        }
        h1, h2, h3{
            font-size: medium;
        }
        .main1{
            width: 85%;
        }
        .main2{
            width: 70%;
        }
        .taskbar a {
            font-size: medium;
        }
        .taskbar{
            height: 75px;
        }
}


@media screen and (min-width: 700px){
        p, th{
            font-size: small;
            line-height: 150%;
        }
        h1, h2, h3{
            font-size: large;
        }
        .main1{
            width: 80%;
        }
        .main2{
            width: 70%;
        }
        .taskbar a {
            font-size: medium;
        }
        .taskbar{
            height: 75px;
        }
}
